.project-image
  = image_tag offer.image
.project-detail
  .project-label
    -# %span
    -#   = offer.job_type
  %h1.project-title
    %span
      = offer.title
  .project-bottom
    %table{role: "presentation"}
      %tbody
        %tr
          %td.company-name
            %h3
              = offer.company.name
            -# %span
            -#   = offer.region
