.container
  = render partial: "shared/header"
  .top-projects
    .top-projects__details
      .projects-cover
        %image{src: "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=640,dh=262,da=s,ds=s,cw=640,ch=262,cc=FFFFFF)/assets/images/366004/original/307d3ec0-7a75-4fe9-aa99-bd61e950c252.jpeg?1461328266"}
      .job-type
        %p
      .title
        %h2 くらしの経済メディアMONEY PLUS」の編集者・ディレクター募集
      .company-name
        %img{src: "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=62,dh=62,da=s,ds=s,cw=62,ch=62,cc=FFFFFF)/assets/images/3893/original/49ef9acc-c4d9-4b98-8a36-0856b8e0e586.png?1411809805"}
        %p 株式会社マネーフォワード
    .top-projects__details
      .projects-cover
        %image{src: "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=640,dh=262,da=s,ds=s,cw=640,ch=262,cc=FFFFFF)/assets/images/1187311/original/caf99920-1d87-4564-a167-e604d92c0bc1.jpeg?1485940572"}
      .job-type
        %p
      .title
        %h2 2018年新卒 書籍買い放題、セミナー受け放題。勉強好きSEを募集
      .company-name
        %img{src: "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=50,dh=50,da=l,ds=s,cc=FFFFFF)/assets/images/20002/original/34a7a20c-8b78-4f6c-af84-3885841b6e49.jpeg?1400660438"}
        %p 株式会社キャパ
    .top-projects__details
      .projects-cover
        %image{src: "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=640,dh=262,da=s,ds=s,cw=640,ch=262,cc=FFFFFF)/assets/images/81663/original/00a137bf-a8cb-4349-b599-60cbecb5a3d5.jpeg?1490516448"}
      .job-type
        %p
      .title
        %h2 企業向け先端ソフトウェアのエンジニアと営業(東京と大阪)
      .company-name
        %img{src: "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=50,dh=50,da=l,ds=s,cc=FFFFFF)/assets/images/112075/original/35e1630c-fbb6-4786-a91e-0219096c9c6f.png?1434273615"}
        %p 株式会社クライム
  .body
    .column-side
      .project-index-filter-category
        .project-index-filter-category-title
          %h5 職種
          %ul
            %li.category
              %p エンジニア
            %li.category
              %p デザイナー
            %li.category
              %p ディレクター
            %li.category
              %p コーポレート・スタッフ
            %li.category
              %p セールス
            %li.category
              %p マーケティング
            %li.category
              %p ライター
            %li.category
              %p その他
      .project-index-filter-category
        .project-index-filter-category-title
          %h5 採用形態
          %ul
            %li.category
              %p 新卒採用
            %li.category
              %p インターン・学生バイト
            %li.category
              %p 中途採用
            %li.category
              %p 社会人バイト・契約・委託
      .project-index-filter-category
        .project-index-filter-category-title
          %h5 地域
          %ul
            %li.category
              %p 東京
            %li.category
              %p 大阪
            %li.category
              %p 名古屋
            %li.category
              %p 京都
            %li.category
              %p 福岡
            %li.category
              %p 札幌
            %li.category
              %p 北海道・東北
            %li.category
              %p 関東
            %li.category
              %p 北陸・甲信越
            %li.category
              %p 東海
            %li.category
              %p 近畿
            %li.category
              %p 中国・四国
            %li.category
              %p 九州・沖縄
      .project-index-filter-category
        .project-index-filter-category-title
          %h5 特徴
          %ul
            %li.category
              %p TechCrunchに掲載実績あり
            %li.category
              %p 海外進出している
            %li.category
              %p 1億円以上の資金を調達済み
            %li.category
              %p Wantedlyに初登場
            %li.category
              %p 社長が20代
            %li.category
              %p 社長がプログラミングできる
            %li.category
              %p 3000万円以上の資金を調達済み
            %li.category
              %p Skypeで話を聞ける
            %li.category
              %p 留学生さん歓迎
            %li.category
              %p 週末からのコミットでもOK
            %li.category
              %p 友達と一緒に訪問OK
            %li.category
              %p 学生さんも歓迎
            %li.category
              %p ランチをご馳走します
    .column-main
      .projects-index-menu
        %p.projects-count
          %span.current
          %span.per
          %span.total
        %ul.projects-index-sort-menu
          %li.sort-menu
            %p おすすめ
          %li.sort-menu
            %p 新着
          %li.sort-menu
            %p 人気
          %li.sort-menu
            %h4 並び替え
      .projects-index-list
        .project-index-single
          - @offers.each do |offer|
            = render partial: "offer", locals: {offer: offer }
          = paginate @offers
