.container {
  @include clearfix();
  width: 100%;
  min-width: 980px;
  .registrations-body {
    .main-body {
      margin-right: 40px;
      padding: 20px 40px 20px 40px;
      .title {
        font-weight: 600;
        font-size: 22px;
      }
      .company-form {
        border: 1px solid #D7DBDF;
        margin: 20px 0 40px;
        padding: 50px 40px 40px;
        .company-form__field {
          @include clearfix();
          margin-bottom: 18px;
          &--left {
            float: left;
            text-align: left;
            padding-left: 10px;
            box-sizing: border-box;
            em {
              font-size: 12px;
            }
          }
          &--right {
            float: right;
            width: 70%;
          }
          .form-label {
            display: block;
            line-height: 50px;
            font-weight: bold;
            text-align: right;
          }
          .form-password {
            display: block;
            font-weight: bold;
            text-align: right;
          }
          .form-input {
            float: left;
            width: 100%;
            line-height: 30px;
            padding: 10px;
            border: 1px solid #D7DBDF;
            border-radius: 3px;
            box-sizing: border-box;
          }
          .form-logo {
            float: left;
            width: 100%;
            line-height: 30px;
            padding: 10px;
          }
        }
        .btn {
          display: inline-block;
          height: 50px;
          padding: 0 30px;
          line-height: 50px;
          letter-spacing: 1px;
          text-align: center;
          border: none;
          border-radius: 2px;
        }
        .signin-link {
          margin-top: 20px;
        }
      }
    }
  }
}
