.container {
  min-width: 100%;
  overflow: hidden;
  .top-projects {
    @include clearfix();
    width: 1500px;
    border-bottom: 2px solid #f5f5f5;
    overflow-x:scroll;
    &__details {
      float: left;
      width: 430px;
      height: 330px;
      padding: 20px;
      background: #ffffff;
      border: 2px solid #f5f5f5;
      .projects-cover {
        img {
          height: 180px;
        }
      }
      .job-type {
        display: inline-block;
        color: blue;
        font-size: 12px;
        font-weight: 600;
        vertical-align: middle;
      }
      .title {
        h2 {
          font-size: 20px;
          font-weight: 600;
        }
        h2:hover {
          color: blue;
        }
      }
      .company-name {
        img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          overflow: hidden;
          border: 1px solid #e3e3e3;
        }
        p {
          position: relative;
          bottom: 45px;
          font-size: 14px;
          font-weight: 300;
          line-height: 36px;
          color: #9DA0A4;
          padding-left: 50px;
        }
      }
    }
  }
  .body {
    padding: 0;
    margin: 0 auto;
    width: 900px;
    @include clearfix();
    .column-side {
      width: 300px;
      height: 950px;
      padding: 0 30px 10px 10px;
      float: left;
      .project-index-filter-header {
        margin-top: 12px;
        margin-bottom: 12px;
        h4 {
          font-size: 12px;
          color: #9DA0A4;
          font-weight: 600;
          line-height: 20px;
        }
      }
      .project-index-filter-category {
        margin-bottom: 10px;
        border-radius: 3px;
        .project-index-filter-category-title {
          padding: 15px 15px 0;
          cursor: pointer;
          h5 {
            font-size: 13px;
            color: #6A6E71;
            line-height: 1;
            font-weight: 600;
            padding-bottom: 11px;
            border-bottom: 1px solid #e3e3e3;
          }
          .category {
            font-size: 13px;
            color: #24282A;
            font-weight: 300;
            padding: 4px 0 4px 0;
            line-height: 1;
            font-weight: bold;
          }
          .job-type__main {
            font-weight: bold;
          }
          .job-type__sub {
            margin-left: 20px;
          }
        }
      }
    }
    .column-main {
    float: right;
      .projects-index-menu {
        height: 30px;
        padding: 18px 0;
        border-bottom: 2px solid #f5f5f5;
        .projects-index-sort-menu {
          .sort-menu {
            float: right;
            margin-right: 14px;
            h4 {
              font-size: 12px;
              color: #9DA0A4;
              margin-top: 3px;
            }
            p:hover {
              font-weight: bold;
              color: blue;
            }
          }
        }
      }
      .projects-index-list {
        .project-index-single {
          padding: 20px 0;
          width: 550px;
          border-bottom: 2px solid #f5f5f5;
          .project-image {
            margin-bottom: 20px;
            img {
              width: 560px;
              height: 228px;
            }
          }
          .project-detail {
            .project-label {
              // display: inline-block;
              // color: blue;
              // font-size: 11px;
              // border: 1px solid blue;
              border-radius: 2px;
              vertical-align: middle;
              // padding: 0 4px;
              // height: 10px;
            }
            .project-title {
              font-size: 22px;
              font-weight: 600;
              line-height: 1.4;
              margin-bottom: 8px;
              margin-top: 10px;
            }
            .project-bottom {
              margin-top: 16px;
              margin-bottom: 16px;
              .company-thumbnail {
                width: 50px;
                height: 50px;
                padding-right: 12px;
                img {
                  border-radius: 50%;
                  box-sizing: border-box;
                  border: 1px solid #cccccc;
                }
              }
              .company-name {
                h3 {
                  font-size: 14px;
                  font-weight: bold;
                  color: #24282A;
                  max-width: 300px;
                }
                span {
                  font-weight: bold;
                  font-size: 12px;
                  color: #9DA0A4;
                }
              }
            }
          }
        }
      }
    }
  }
}
