.user_page-contents {
  li,& {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    background-size: cover;
    min-height: 300px;
    position: relative;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 10px;
    width: 20.4%;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    -moz-box-shadow:    0px 2px 10px 0px rgba(0,0,0,0.08);
    box-shadow:         0px 2px 10px 0px rgba(0,0,0,0.08);
    &:nth-child(4n) {
      margin-right: 0;
    }
    .meta {
      background-image: -o-linear-gradient(-89deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.95) 100%);
      background-image: -moz-linear-gradient(-89deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.95) 100%);
      background-image: -ms-linear-gradient(-89deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.95) 100%);
      background-image: linear-gradient(-179deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.95) 100%);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px 10px 10px;
      font-size: 14px;
      text-shadow: 0 1px 2px rgba(0,0,0,0.4);
      color: #fff;
      .title {
        float: left;
      }
      .star {
        color: #F5A624;
        float: right;
        text-shadow: 0 0 0 #fff;
        line-height: 1.5;
      }
      .star-actived,.rating-star {
        line-height: 1.5;
      }
      .user_review {
        font-size: 12px;
        clear: both;
      }
    }
  }
}



@-moz-keyframes anime1 {
0% {top: -40px;opacity: 0;}
100% {top: 0px; opacity: 1;}
}

@-webkit-keyframes anime1 {
0% {top: -40px;opacity: 0;}
100% {top: 0px; opacity: 1;}
}

@-o-keyframes anime1 {
0% {top: -40px;opacity: 0;}
100% {top: 0px; opacity: 1;}
}

@-ms-keyframes anime1 {
0% {top: -40px;opacity: 0;}
100% {top: 0px; opacity: 1;}
}
